DATALOADER:
  TRAIN_X:
    BATCH_SIZE: 64
  TRAIN_U:
    SAME_AS_X: False
    BATCH_SIZE: 192 # 3x of train_x.batch_size
  TEST:
    BATCH_SIZE: 500

OPTIM:
  NAME: "sgd"
  LR: 0.03
  WEIGHT_DECAY: 0.0005
  MAX_EPOCH: 1000

  LR_SCHEDULER: "cosine"
  LR_SCHEDULER_DECAY: 0.25

TRAIN:
  COUNT_ITER: "train_u"
  PRINT_FREQ: 10

TRAINER:
  ADAMATCH:
    # FIXME The paper uses flip-and-shift + CTAugment (remove flip for digit datasets?)
    STRONG_TRANSFORMS:
      ["random_flip", "randaugment_fixmatch", "normalize", "cutout"]
    CONF_THRE: 0.9
